# SVN files
.svn*

# EMACS temp files
*~

# Compiled source files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.bin
*.ld

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumps.db
build.info

# Vivado Build
build*

# Requires a force (-f) git add
*.bit
*.mcs
*.gz
*.ltx

# Sysgen
.Xil/
*.r2015b
*.autosave
*slprj/
