../../../modules/AmcCarrierCore/1.1/xdc/AmcCarrierCore.xdc
../../../modules/MissionReadinessCore/xdc/AmcBay0Pinout.xdc
../../../modules/MissionReadinessCore/xdc/AmcBay1Pinout.xdc
hdl/AmcCarrierDemoEth.xdc